.inicioSecion__form{
    width: 30vw;
}

.agregar__imagenes, .cargar__imagen{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.formulario__imagen{
    border:5px dashed #dddddd;
    height: 10rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #B2B3B4;
}

.formulario__imagen.active{
    background-color: #b8d4fe;
    color: #000000;
    border: 5px dashed #618ac9;
}

.imagen__icono{
    width: 3rem;
    padding-bottom:1rem ;
}

.dataImage{
    width: 75%;
    overflow: auto;
}

.hidden{
    display: none;
}

.principal__logo-boton{
    width: 12vw;
}

.inicioSecion h4, .agregar__imagenes{
    text-align: start;
    width: 30vw;
    margin: 0 auto 1rem;
    
}

@media(max-width:768px){
    .principal__logo-boton {
        width: 20vw;
    }

    .inicioSecion__form, .inicioSecion h4{
        width: 55vw;
    }

    .inicioSecion__form button{
        margin-top: 1rem;
        width: 20vw;
    }
}

@media(max-width:468px){
    .principal__logo-boton {
        width: 40vw;
    }

    .inicioSecion{
        padding: 1rem 0 0 0;
        width: 100vw;
    }

    .inicioSecion__form,
    .inicioSecion h4 {
        width: 90vw;
    }

    .formulario__fieldset-item::placeholder{
       font-size: 0.60rem;
    }

    .inicioSecion__form button {
        width: 90vw;
    }
}