.principal__registro{
    text-decoration: none;
    font-size: 0.75rem;
    padding: 1rem;
    border: 1px solid #2A7AE4;
}

.principal__registro:hover{
    background-color:#2A7AE4;
    color: #ffffff;
}

.inicioSecion{
    padding: 3rem 0 1rem 0;
    
}

.inicioSecion__titulo{
    text-align: center;
}

.inicioSecion__form{
    width: 25vw;
    margin: auto;
}

.formulario__inicioSecion{
    height: 175px;
}

.inicioSecion__form-input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    box-shadow: 0 3px 5px #00000010;
    background-color: #2A7AE4;
    color: #ffffff;
}

.inicioSecion__link{
    text-decoration: none;
}

.boton-producto{
    background-color: #2A7AE4;
    color: #ffffff;
    border: 1px solid #2A7AE4;
}

.boton-producto:hover {
    background-color:#ffffff;
    color:#2A7AE4;
}

.file__container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
}


.formulario .form__span{
    font-size: 0.75rem;
    color: #d60d0d;
    display: block;
}

.form__span{
    display: none;
}

@media(max-width:768px){
    .inicioSecion__form {
        width: 30vw;
    }

    .inicioSecion__form button {
        width: 15vw;
        margin: auto;
        padding: 0.5rem;
    }
}

@media(max-width:468px){
    .inicioSecion {
        padding: 5rem 0 3rem 0;
        text-align: center;
    }

    .inicioSecion__form {
        width: 75vw;
    }

    .inicioSecion__form button {
        width: 25vw;
    }
}