:root{
    scroll-behavior: smooth;
}

.galeria__header{
    margin-top: 0;
    padding-top: 2rem;
}

.galeria__header-titulos{
    align-self: center;
}

.galeria__articulos-flex{
    padding-bottom: 1rem;
}

.galeria__articulos-flex li{
    padding-bottom: 1rem;
}

main{
    padding-bottom: 0;
}

.filtro, .ocultar{
    display:none ;
}

.container{
    position: relative;
}

#ocultar{
    position:absolute;
    top: 2.75rem;
    left: 13rem;
    background-color: #fff;
    z-index: 10;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.08);
    width: 30vw;
}

.lista__productos{
    margin: 1rem;
    width: 30vw;
    display: flex;
    flex-direction: column;
    line-height:2;
}

.lista__productos a{
    text-decoration: none;
    color:#000;
    font-size: 0.75rem;
}

.animate{
    border: 2px solid #0c08e1;
    transform: scale(1);
    text-align: center;
    font-weight: 600;
}

.id{
    border: none;
    font-size: 0.65rem;
    color: #c50a0a;
    margin-right: 3rem;
    cursor: pointer;
}

.link{
    font-size: 0.65rem;
    color: #1644af;
    cursor: pointer;
}

@media(max-width:768px){
    .galeria__articulos-flex>li:nth-child(5),
    .galeria__articulos-flex>li:nth-child(6) {
        display: block;
    }

    .galeria__articulos-flex{
        justify-content: flex-start;
        column-gap: 2vw;
    }
}

@media(max-width:468px){
    .galeria__header{
        flex-direction: column;
    }

    .galeria__header-titulos {
        align-self: flex-start;
        padding-bottom: 1rem;
    }

    .principal__logo-boton{
        width: 35vw;
    }
}